<details>
    <summary>Aside, how to tell if your website is training AI?</summary>
    This article from The Washington Post has a text field where you can enter your site and it will show you how highly ranked the site is in the C4 dataset, which apparently was used to train some AI somewhere.  To find the text field, see <a href="https://www.washingtonpost.com/technology/interactive/2023/ai-chatbot-learning/">Is your website training AI?</a> .

<img src="{{ site.url }}/blog/assets/20231220-ridingthecrest-in-c4.png" alt="Ed's website in the C4 dataset" />
</details>
